<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>home</title>
</head>
<body style="margin: 0px; padding: 0px; background-image: url('../image/initial-letters-gg-linked-monogram-260nw-1738442300_edited.jpg');">
  <!-- <iframe src="D:\KSHITIJ\For github\templates\base.html" frameborder="0"></iframe> -->
  <iframe src="../templates/base.html" height="50" width="100%"  ></iframe>
  <h1>home</h1>
</body>
</html>